<!DOCTYPE html>
<html   lang="en"
        xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}"
        xmlns:sec="http://www.thymeleaf.org/">
<head>
  <title>Details</title>
</head>
<body class="d-flex flex-column ">
  <!-- Page Content-->
  <section layout:fragment="body">
    <!-- Page header with logo and tagline-->
    <header class="py-5 bg-light border-bottom mb-4">
      <div class="container">
        <div class="text-center my-5">
          <h1 class="fw-bolder" th:text="${currency.title}">Currency</h1>
        </div>
      </div>
    </header>
    <!-- Page content-->
    <div class="container">
      <div class="row">
        <!-- Blog entries-->
        <div class="col-lg-8">
          <!-- Featured blog post-->
          <div class="card mb-4">
            <a href="#!"><img class="card-img-top" th:src="${currency.url}" alt="..." /></a>
            <div class="card-body">
              <h2 class="card-title"th:text="${currency.title}">Title</h2>
              <p class="card-text"th:text="${'Country: '+currency.country}"></p>
              <p class="card-text" th:text="${'Currency symbol: '+currency.symbol}"></p>
              <p class="card-text" th:text="${'Currency information: '+currency.details}"></p>
              <div sec:authorize="hasAuthority('ADMIN')">
                 <a class="btn btn-primary" th:href="@{/currency/{currencyId}/delete(currencyId=${currency.id})}">Delete</a>
                <a class="btn btn-success" th:href="@{/rate/{currencyId}/new(currencyId=${currencyId})}">Add new date</a>
              </div>
            </div>
            </div>
            </div>
          </div>
      </div>
  </section>
</body>
</html>