<!DOCTYPE html>
<html   lang="en"
        xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
<head>
  <title>Details</title>
</head>
<body class="d-flex flex-column ">
  <!-- Page Content-->
  <section layout:fragment="body">
    <!-- Page header with logo and tagline-->
    <header class="py-5 bg-light border-bottom mb-4">
      <div class="container">
        <div class="text-center my-5">
          <h1 class="fw-bolder" th:text="${currency.title}">Currency</h1>
        </div>
      </div>
    </header>
    <!-- Page content-->
    <div class="container">
      <div class="row">
        <!-- Blog entries-->
        <div class="col-lg-8">
          <!-- Featured blog post-->
          <div class="card mb-4">
            <a href="#!"><img class="card-img-top" th:src="${currency.url}" alt="..." /></a>
            <div class="card-body">
              <div class="small text-muted" th:text="${currency.country}"></div>
              <h2 class="card-title">Country</h2>
              <p class="card-text" th:text="${'Currency symbol: '+currency.symbol}"></p>
              <a class="btn btn-primary" th:href="@{/currency/{currencyId}/delete(currencyId=${currency.id})}">Delete</a>
              <a class="btn btn-primary" th:href="@{/rate/{currencyId}/new(currencyId=${currencyId})}">Add new date</a>
            </div>
          </div>
          <!-- Nested row for non-featured blog posts-->
          <div class="row">
            <div class="col-lg-6">
              <!-- Blog post-->

        <div class="col-lg-4">
          <!-- Search widget-->

          <!-- Categories widget-->
          <div class="card mb-4">
            <div class="card-header">Our partners</div>
            <div class="card-body">
              <div class="row">
                <div class="col-sm-6">
                  <ul class="list-unstyled mb-0">
                    <li><a href="https://www.cheapflights.com/book-flights-online/">Cheap Flights</a></li>
                    <li><a href="https://www.realsimple.com/work-life/travel/best-way-pack-suitcase">Suitcase</a></li>
                    <li><a href="https://lifehacker.com/how-to-get-the-best-exchange-rate-before-traveling-abro-1849035823">Exchange Lifehackes</a></li>
                  </ul>
                </div>
              </div>
              </div>
            </div>
          </div>
          <!-- Side widget-->

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
</html>