<html   lang="en"
        xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
<head>
    <title>Create</title>
</head>
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
    <!-- Page Content-->
    <section layout:fragment="body" class="py-5">
        <form role="form" method="post" th:action="@{/currency/new}" th:object="${currency}">

            <div class="container">
                    <div class="form-row">
                    <div class="form-group col-md6">
                        <label for="title">Add Currency</label>
                        <input
                                type="text"
                                class="form-control"
                                id="title"
                                name="title"
                                th:field="*{title}"
                                placeholder="Enter currency title">
                        <p th:if="${#fields.hasErrors('title')}" class="text-danger" th:errors="*{title}"></p>

                    </div>
                    <div class="form-group col-md-6">
                        <label for="country">Country</label>
                        <input
                                type="text"
                                class="form-control"
                                id="country"
                                name="country"
                                th:field="*{country}"
                                placeholder="Country">
                        <p th:if="${#fields.hasErrors('country')}" class="text-danger" th:errors="*{country}"></p>

                    </div>
                    <div class="form-group col-md-6">
                        <label for="url">Url</label>
                        <input
                                type="text"
                                class="form-control"
                                id="url"
                                name="url"
                                th:field="*{url}"
                                placeholder="Insert Photo Url">
                        <p th:if="${#fields.hasErrors('url')}" class="text-danger" th:errors="*{url}"></p>

                    </div>
                    <div class="form-group col-md-6">
                        <label for="symbol">Currency symbol</label>
                        <input
                                type="text"
                                class="form-control"
                                id="symbol"
                                name="symbol"
                                th:field="*{symbol}"
                                placeholder="Insert Currency symbol">
                        <p th:if="${#fields.hasErrors('symbol')}" class="text-danger" th:errors="*{symbol}"></p>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
            </div>
        </form>
    </section>
</main>
</body>
</html>